:root {
    --jade: #00A878;
    --Grays-Black: #000000;
    --tints-shade: #B0E4D5;
    --foundation-jade: #E6F6F2;
    --orange: #FF9500;
    --teal: #30B0C7;
    --purple: #AF52DE;
    --yellow: #FC0;
    --dark-jade: #004732;
    --bg: linear-gradient(124deg, #E7FFF5, #E0FFEE70.23%);
    --indigo: #5856D6;
    --mint: #00C7BE;
    --grayscale: #393939;
}

body {
    font-family: 'Darker Grotesque', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    padding: 1rem 7.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: #FFF;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
}

.navbar {
    display: flex;
    width: 100vw;
}

.navbar .nav-item {
    display: flex;
    flex-direction: row;
}

.nav-item ul {
    display: flex;
    gap: 2rem;
}

.nav-item ul li {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-item ul li a {
    color: var(--Grays-Black);
    font-family: "Darker Grotesque";
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.01375rem;
    text-decoration: none;
}

.nav-item ul li a:hover {
    color: var(--orange);
}

#login-button {
    display: flex;
    width: 7.5rem;
    height: 2.75rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.625rem;
    border: 1px solid var(--tints-shade);
    background: var(--Foundation-Jade-jade-50, #E6F6F2);
}

#login-button a {
    color: var(--teal);
    font-size: 1.25rem;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.025rem;
}

#login-button a:hover {
    color: var(--Grays-Black);
}

#signup-button {
    display: flex;
    width: 7.5rem;
    height: 2.75rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.625rem;
    background: var(--jade);
}

#signup-button a {
    color: var(--foundation-jade);
    font-size: 1.25rem;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.025rem;
}

#signup-button a:hover {
    color: var(--Grays-Black);
}

#hero {
    display: flex;
    height: 40.0625rem;
    padding: 0rem 7.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: var(--bg);

}

#hero h1 {
    color: var(--Grays-Black);
    font-family: "Darker Grotesque", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: 90%;
    letter-spacing: -0.04rem;
    align-self: stretch;
    width: 40vw;
    margin-top: 15vh;
    position: absolute;
}

#jade {
    color: var(--jade);
    font-family: "Darker Grotesque", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: 90%;
    letter-spacing: -0.04rem;
}

#hero p {
    color: var(--grayscale);
    font-family: "Darker Grotesque";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.015rem;
    width: 30vw;
    margin-top: -14vh;
}

#hero a {
    display: flex;
    position: absolute;
    height: 2.25rem;
    padding: 1.25rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.75rem;
    background: var(--jade);
    color: var(--foundation-jade);
}

/* .hero a:hover {} */

.image {
    display: block;
    top: 0;
    margin-top: 48rem;
    width: 50vw;
}

.image img {
    border-radius: 50%;
}