:root {
    --jade: #00A878;
    --Grays-Black: #000000;
    --tints-shade: #B0E4D5;
    --foundation-jade: #E6F6F2;
    --orange: #FF9500;
    --teal: #30B0C7;
    --purple: #AF52DE;
    --yellow: #FC0;
    --dark-jade: #004732;
    --bg: linear-gradient(124deg, #E7FFF5, #E0FFEE70.23%);
    --indigo: #5856D6;
    --mint: #00C7BE;
    --grayscale: #393939;
    --green: #34C759;
    --smokyblack: #0B0500;
    --blue: #007AFF;
    --pink: #FF2D55;
    --white: #fff;
}

body {
    font-family: 'Darker Grotesque', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    padding: 1rem 7.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: #FFF;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
}

.logo {
    transition: transform 0.2s ease-in-out;
}

.logo:hover {
    opacity: 150;
    filter: contrast(150%);
    transform: scale(1.1);
}

.navbar {
    display: flex;
    width: 100vw;
}

.navbar .nav-item {
    display: flex;
    flex-direction: row;
}

.nav-item ul {
    display: flex;
    gap: 2rem;
}

.nav-item ul li {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-item ul li a {
    color: var(--Grays-Black);
    font-family: "Darker Grotesque";
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.01375rem;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

.nav-item ul li a:hover {
    color: var(--orange);
}

#login-button {
    display: flex;
    width: 7.5rem;
    height: 2.75rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.625rem;
    border: 1px solid var(--tints-shade);
    background: var(--Foundation-Jade-jade-50, #E6F6F2);
}

#login-button a {
    color: var(--teal);
    font-size: 1.25rem;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.025rem;
    padding-bottom: 0.5em;
    transition: all 0.5s ease-out;
}

#login-button a:hover {
    color: var(--Grays-Black);
}

#signup-button {
    display: flex;
    width: 7.5rem;
    height: 2.75rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.625rem;
    background: var(--jade);
}

#signup-button a {
    color: var(--foundation-jade);
    font-size: 1.25rem;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.025rem;
    padding-bottom: 0.5em;
    transition: all 0.5s ease-out;
}

#signup-button a:hover {
    color: var(--Grays-Black);
}

#hero {
    display: flex;
    height: 110vh;
    padding: 0rem 7.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: var(--bg);
    z-index: 1000;
    position: relative;
}

#hero h1 {
    color: var(--Grays-Black);
    font-family: "Darker Grotesque", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: 90%;
    letter-spacing: -0.04rem;
    align-self: stretch;
    width: 60%;
    margin-top: 10vh;
    position: absolute;
}

#jade {
    color: var(--jade);
    font-family: "Darker Grotesque", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: 90%;
    letter-spacing: -0.04rem;
}

#hero p {
    position: absolute;
    color: var(--grayscale);
    font-family: "Darker Grotesque";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.015rem;
    width: 24vw;
    margin-top: calc(-19%);
}

#hero a {
    display: flex;
    position: absolute;
    margin-top: -12%;
    height: 2.25rem;
    padding: 1.25rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.75rem;
    background: var(--jade);
    color: var(--foundation-jade);
}

#hero a:hover {
    color: var(--Grays-Black);
}

#image {
    display: flex;
    top: 0;
    margin-top: 12%;
    width: 50vw;
    margin-left: 53vw;
    transition: transform 0.5s cubic-bezier(0, 1.3, .87, -0.26);
}

#hero-image {
    display: flex;
    position: relative;
    border-radius: 50%;

}

#idea {
    position: absolute;
    width: 5vw;
    margin-top: -17vh;
    margin-left: 13vw;
}

#idea p {
    display: flex;
    border-radius: 0.68181rem;
    border: 0.2px solid #FFF;
    background: var(--orange);
    backdrop-filter: blur(12px);
    width: 9.2rem;
    justify-content: center;
    padding: .5em;
    padding-left: .5em;
    margin-top: -0.3em;
    margin-left: -1vw;
    color: var(--Grays-Black);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#growth {
    position: absolute;
    width: 5vw;
    margin-top: 3vh;
    margin-left: -3vw;
}

#growth p {
    display: flex;
    border-radius: 0.68181rem;
    border: 0.2px solid #FFF;
    background: var(--green);
    backdrop-filter: blur(12px);
    width: 6rem;
    justify-content: center;
    padding: .5em;
    padding-left: .5em;
    margin-top: 0.3em;
    margin-left: .1vw;
    color: var(--Grays-Black);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#implement {
    position: absolute;
    width: 5vw;
    margin-top: 52vh;
    margin-left: 3vw;
}

#implement p {
    display: flex;
    border-radius: 0.68181rem;
    border: 0.2px solid #FFF;
    background: var(--yellow);
    backdrop-filter: blur(12px);
    width: 9.2rem;
    justify-content: center;
    padding: .5em;
    padding-left: .5em;
    margin-top: -7.9em;
    margin-left: -1vw;
    color: var(--Grays-Black);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#invest {
    position: absolute;
    width: 5vw;
    margin-top: 50.2vh;
    margin-left: 19vw;
}

#invest p {
    display: flex;
    border-radius: 0.68181rem;
    border: 0.2px solid #FFF;
    background: var(--indigo);
    backdrop-filter: blur(12px);
    width: 7.2rem;
    justify-content: center;
    padding: .5em;
    padding-left: .5em;
    margin-top: -8.3em;
    margin-left: -1vw;
    color: var(--Grays-Black);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#valuation {
    position: absolute;
    width: 5vw;
    margin-top: 9vh;
    margin-left: 24.5vw;
}

#valuation p {
    display: flex;
    border-radius: 0.68181rem;
    border: 0.2px solid #FFF;
    background: var(--mint);
    backdrop-filter: blur(12px);
    width: 7.2rem;
    justify-content: center;
    padding: .5em;
    padding-left: .5em;
    margin-top: -0.9em;
    margin-left: -1vw;
    color: var(--Grays-Black);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.partners {
    display: flex;
    height: 8.75rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 4.125rem;
    background: var(--jade);
}

.partner-names {
    transition: transform 0.2s ease-in-out;
}

.partner-names:hover {
    transform: scale(1.1);
}


.partners img:nth-child(4) {
    opacity: 150;
    filter: contrast(150%);
}

#about-seedpod {
    display: flex;
    width: 90rem;
    height: 37.5625rem;
    padding: 5rem 7.5rem 0rem 7.5rem;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    justify-content: space-between;
}

#about-seedpod h2 {
    display: flex;
    color: var(--smokyblack);
    font-family: "Darker Grotesque";
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    align-self: stretch;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5vw;
}

.about-card {
    display: flex;
    height: 21.25rem;
    min-width: 17.5rem;
    max-width: 27.5rem;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    border-radius: 1rem;
    background: var(--white);
    box-shadow: 0px 24px 48px -16px rgba(11, 53, 41, 0.12);
}

.about-card h3 {
    color: var(--smokyblack);
    font-family: "Darker Grotesque";
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.about-card p {
    color: var(--Grays-Black);
    font-family: "Darker Grotesque";
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.0275rem;
}

.chain {
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background-color: var(--blue);
}

.connect {
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background-color: var(--pink);
}

.analysis {
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background-color: var(--jade);
}

/* Media Query */
@media only screen and (min-width: 1025px) and (aspect-ratio: 16/9) {
    header {
        padding: 1rem 10rem;
    }

    #hero {
        padding: 0rem 10rem;
    }

    #hero h1 {
        font-size: 3rem;
        width: 50%;
        margin-top: 15vh;
    }

    #image {
        width: 50vw;
        margin-left: 45vw;
    }

    #jade {
        font-size: 3rem;
    }

    #hero p {
        margin-top: -1.9rem;
    }

    #idea p,
    #growth p,
    #implement p,
    #invest p,
    #valuation p {
        font-size: 1rem;
    }

    #growth p {
        margin-top: 1vh;
    }

    #valuation {
        margin-left: 43vw;
        position: absolute;
    }

    #valuation p {
        margin-top: -0.3vh;
    }

    #implement p,
    #invest p {
        margin-top: -19.3vh;
    }

    #idea {
        position: absolute;
        width: 5vw;
        margin-top: -20vh;
        margin-left: 13vw;
    }

    #valuation {
        position: absolute;
        width: 5vw;
        margin-top: 7vh;
        margin-left: 24.5vw;
    }
}

@media only screen and (min-width: 1441px) and (aspect-ratio: 16/9) {
    header {
        padding: 1rem 10rem;
    }

    #hero {
        padding: 0rem 10rem;
        height: 87vh;
    }

    #hero h1 {
        font-size: 3rem;
        width: 50%;
        margin-top: 15vh;
    }

    #hero p {
        margin-top: -11%;
        width: 23%;
    }

    #hero a {
        margin-top: -3%;
    }

    #image {
        width: 40vw;
        margin-top: 5%;
        margin-left: 50vw;
    }

    #idea {
        position: absolute;
        width: 5vw;
        margin-top: -13vh;
        margin-left: 13vw;
    }

    #idea p {
        margin-top: -0.4vh;
        font-size: 1rem;
        width: 10vw;
    }

    #valuation {
        position: absolute;
        width: 5vw;
        margin-top: 7vh;
        margin-left: 24.5vw;
    }

    #invest {
        position: absolute;
        width: 5vw;
        margin-top: 40vh;
    }

    #invest p {
        margin-top: -15vh;
        font-size: 1rem;
        width: 7.5vw;
    }

    #implement {
        position: absolute;
        width: 5vw;
        margin-top: 42vh;
    }

    #implement p {
        margin-top: -15vh;
        font-size: 1rem;
        width: 9vw;
    }

    #growth p {
        font-size: 1rem;
        width: 6vw;
        margin-top: 2%;
    }

    #valuation p {
        font-size: 1rem;
        width: 7vw;
    }
}

/* @media only screen and (min-width: 1920px) and (aspect-ratio: 16/9) {
    header {
        display: none;
        padding: 1rem 10rem;
    }

    #hero {
        padding: 0rem 10rem;
    }

    #hero h1 {
        font-size: 4rem;
        width: 50%;
        margin-top: 15vh;
    }

    #image {
        width: 40vw;
        margin-left: 60vw;
    }

    #idea p,
    #growth p,
    #implement p,
    #invest p,
    #valuation p {
        font-size: 1.2rem;
    }

    #idea {
        position: absolute;
        width: 5vw;
        margin-top: 90vh;
        margin-left: 13vw;
    }

    #valuation {
        position: absolute;
        width: 5vw;
        margin-top: 7vh;
        margin-left: 24.5vw;
    }
} */