:root {
    --jade: #00A878;
    --Grays-Black: #000000;
    --tints-shade: #B0E4D5;
    --foundation-jade: #E6F6F2;
    --orange: #FF9500;
    --teal: #30B0C7;
    --purple: #AF52DE;
    --yellow: #FC0;
    --dark-jade: #004732;
    --bg: linear-gradient(124deg, #E7FFF5, #E0FFEE70.23%);
    --indigo: #5856D6;
    --mint: #00C7BE;
    --grayscale: #393939;
    --green: #34C759;
    --smokyblack: #0B0500;
    --blue: #007AFF;
    --pink: #FF2D55;
    --white: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Darker Grotesque', sans-serif;
    margin: 5px auto;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    padding: 1rem 7.5rem;
    top: 0;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: none;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
}

.logo {
    transition: all 0.2s ease-in-out;
}

.logo:hover {
    opacity: 150;
    filter: contrast(150%);
    transform: scale(1.1);
}

.navbar {
    display: flex;
    width: 100vw;
    top: 0;
}

.navbar .nav-item {
    display: flex;
    flex-direction: row;
    margin-right: 5vw;
}

.nav-item ul {
    display: flex;
    gap: 2rem;
}

.nav-item ul li {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-item ul li a {
    color: var(--Grays-Black);
    font-family: "Darker Grotesque";
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.01375rem;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

.nav-item ul li a:hover {
    color: var(--orange);
}

#login-button {
    display: flex;
    width: 7.5rem;
    height: 2.75rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.625rem;
    border: 1px solid var(--tints-shade);
    background: var(--Foundation-Jade-jade-50, #E6F6F2);
}

#login-button a {
    color: var(--teal);
    font-size: 1.25rem;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.025rem;
    padding-bottom: 0.5em;
    transition: all 0.5s ease-out;
}

#login-button a:hover {
    color: var(--Grays-Black);
}

#signup-button {
    display: flex;
    width: 7.5rem;
    height: 2.75rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.625rem;
    background: var(--jade);
}

#signup-button a {
    color: var(--foundation-jade);
    font-size: 1.25rem;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.025rem;
    padding-bottom: 0.5em;
    transition: all 0.5s ease-out;
}

#signup-button a:hover {
    color: var(--Grays-Black);
}

#hero {
    display: flex;
    height: 800px;
    padding: 0rem 7.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: var(--bg);
    position: relative;
}

#hero h1 {
    color: var(--Grays-Black);
    font-family: "Darker Grotesque", sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 90%;
    letter-spacing: -0.04rem;
    align-self: stretch;
    width: 60%;
    margin-top: 80px;
    position: absolute;
}

#jade {
    color: var(--jade);
    font-family: "Darker Grotesque", sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 90%;
    letter-spacing: -0.04rem;
}

#hero p {
    position: absolute;
    color: var(--grayscale);
    font-family: "Darker Grotesque";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.015rem;
    width: 35vw;
    margin-top: -215px;
}

#hero a {
    display: flex;
    position: absolute;
    margin-top: -85px;
    font-size: 1.2rem;
    font-weight: 600;
    height: 2.25rem;
    padding: 1.25rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.75rem;
    background: var(--jade);
    color: var(--foundation-jade);
}

#hero a>img {
    margin-top: .27rem;
}

#hero a:hover {
    color: var(--Grays-Black);
}

#image {
    display: flex;
    top: 0;
    margin-top: 12%;
    width: 50vw;
    margin-left: 53vw;
    transition: transform 0.5s cubic-bezier(0, 1.3, .87, -0.26);
}

#hero-image {
    display: flex;
    position: relative;
    border-radius: 50%;

}

#idea {
    position: absolute;
    width: 5vw;
    margin-top: -109px;
    margin-left: 183px;
    background: none;
}

#idea p {
    display: flex;
    border-radius: 0.68181rem;
    border: 0.2px solid #FFF;
    background: var(--orange);
    backdrop-filter: blur(12px);
    width: 9.2rem;
    justify-content: center;
    padding: .5em;
    padding-left: .5em;
    margin-top: -0.3em;
    margin-left: -1vw;
    color: var(--Grays-Black);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#growth {
    position: absolute;
    width: 5vw;
    margin-top: 30px;
    margin-left: -30px;
}

#growth p {
    display: flex;
    border-radius: 0.68181rem;
    border: 0.2px solid #FFF;
    background: var(--green);
    backdrop-filter: blur(12px);
    width: 6rem;
    justify-content: center;
    padding: .5em;
    padding-left: .5em;
    margin-top: 0.3em;
    margin-left: .1vw;
    color: var(--Grays-Black);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#implement {
    position: absolute;
    width: 5vw;
    margin-top: 352px;
    margin-left: 30px;
}

#implement p {
    display: flex;
    border-radius: 0.68181rem;
    border: 0.2px solid #FFF;
    background: var(--yellow);
    backdrop-filter: blur(12px);
    width: 9.2rem;
    justify-content: center;
    padding: .5em;
    padding-left: .5em;
    margin-top: -8.5em;
    margin-left: -1vw;
    color: var(--Grays-Black);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#invest {
    position: absolute;
    width: 5vw;
    margin-top: 350.2px;
    margin-left: 300px;
}

#invest p {
    display: flex;
    border-radius: 0.68181rem;
    border: 0.2px solid #FFF;
    background: var(--indigo);
    backdrop-filter: blur(12px);
    width: 7.2rem;
    justify-content: center;
    padding: .5em;
    padding-left: .5em;
    margin-top: -8.3em;
    margin-left: -1vw;
    color: var(--Grays-Black);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#valuation {
    position: absolute;
    width: 5vw;
    margin-top: 90px;
    margin-left: 385.5px;
}

#valuation p {
    display: flex;
    border-radius: 0.68181rem;
    border: 0.2px solid #FFF;
    background: var(--mint);
    backdrop-filter: blur(12px);
    width: 7.2rem;
    justify-content: center;
    padding: .5em;
    padding-left: .5em;
    margin-top: -0.59em;
    margin-left: -1vw;
    color: var(--Grays-Black);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#partners {
    display: flex;
    height: 8.75rem;
    padding: 1rem;
    padding-right: 5em;
    justify-content: center;
    align-items: center;
    gap: 4.125rem;
    background: var(--jade);
}

#partners a .partner-names {
    transition: transform 0.2s ease-in-out;
}

#partners a .partner-names:hover {
    transform: scale(1.1);
}

#partners a:nth-child(4) img {
    opacity: 1;
    filter: contrast(200%);
}

/* About */
#about-seedpod {
    display: flex;
    width: 90rem;
    height: 37.5625rem;
    padding: 5rem 5.5rem 0rem 10.5rem;
    flex-direction: column;
    margin-left: 2.5vw;
    align-items: center;
    gap: 5rem;
    justify-content: space-between;
}

#about-seedpod h2 {
    display: flex;
    color: var(--Grays-Black);
    text-align: center;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: -9vh;
    justify-content: center;
}

#about-seedpod p {
    color: var(--Grays-Black);
    font-family: "Darker Grotesque";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.03rem;
}

#card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5vw;
    margin-right: 5vw;
    margin-top: -9vh;
    justify-content: center;
    align-items: center;
}

#card .about-card {
    display: flex;
    height: 22.25rem;
    width: 25rem;
    min-width: 17.5rem;
    max-width: 43.5rem;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    border-radius: 1rem;
    background: var(--white);
    box-shadow: 0px 24px 48px -16px rgba(7, 26, 21, 0.42);
    transition: transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#card .about-card:hover {
    opacity: 1;
    filter: contrast(200%);
    transform: scale(1.1);
}

.about-card h3 {
    color: var(--smokyblack);
    font-family: "Darker Grotesque";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

#card .about-card p {
    color: var(--Grays-Black);
    font-family: "Darker Grotesque";
    font-size: 1.5em;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.0275rem;
    text-align: left;
}

.chain {
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background-color: var(--blue);
}

.connect {
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background-color: var(--pink);
}

.analysis {
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background-color: var(--jade);
}

/* Key Features */

#features {
    display: flex;
    width: 90rem;
    min-width: 75rem;
    max-width: 100rem;
    padding-left: 10rem;
    flex-direction: column;
    align-items: center;
    gap: 5.0625rem;
    margin-top: 10%;
    margin-left: 45px;
}

#features h2 {
    color: var(--Grays-Black);
    text-align: center;
    font-family: "Darker Grotesque";
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    align-self: stretch;
    width: 45vw;
    margin-left: 15vw;

}

#features .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    align-self: stretch;
    border-radius: 0.5rem;
    margin-left: -5.5vw;
    width: 85vw;
}

#features .right:nth-of-type(2n) {
    flex-direction: row-reverse;
}

#features .right .right-side img {
    background: none;
    width: 6.25rem;
    height: 6.25rem;
}

#features .right .right-side h3 {
    color: var(--Grays-Black);
    font-family: "Darker Grotesque";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    align-self: stretch;
}

#features .right .right-side p {
    color: var(--Grays-Black);
    font-family: "Darker Grotesque";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    align-self: stretch;
    letter-spacing: 0.03rem;
    width: 37vw;
}

#features .right .right-side .btn {
    display: flex;
    height: 2.25rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.75rem;
    border: 1px solid var(--tints-shade);
    background: var(--foundation-jade);
    transition: transform 0.9s ease-in-out;
    color: var(--jade);
}

#features .right .right-side h3,
p,
button {
    margin-right: 3vw;
}

#features .right .right-side .btn:hover {
    color: var(--pink);
    transform: scale(1.09);
}

#features .right img {
    width: 35.12544rem;
    height: 35rem;
    border-radius: 1rem;
    background: lightgray 50% / cover no-repeat;
}

/* How it Works */

#work-seedpod {
    display: flex;
    width: 90rem;
    height: 80rem;
    padding: 5rem 5rem 7rem 10.5rem;
    flex-direction: column;
    margin-left: 3vw;
    align-items: center;
    gap: 5rem;
    justify-content: space-between;
}

#work-seedpod h2 {
    display: flex;
    color: var(--Grays-Black);
    text-align: center;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: -9vh;
    justify-content: center;
}

#work-seedpod p {
    color: var(--Grays-Black);
    font-family: "Darker Grotesque";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.03rem;
    margin-left: 2.5rem;
}

#work-card,
#work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5vw;
    margin-right: 5vw;
    justify-content: center;
    align-items: center;
}

#work-card .card,
#work .card {
    display: flex;
    height: 22.95rem;
    width: 25rem;
    min-width: 17.5rem;
    max-width: 43.5rem;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    border-radius: 1rem;
    background: var(--white);
    box-shadow: 0px 24px 48px -16px rgba(7, 26, 21, 0.42);
    transition: transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#work-card .card:hover,
#work .card:hover {
    opacity: 1;
    filter: contrast(200%);
    transform: scale(1.1);
}

#work-card .card h3,
#work .card h3 {
    color: var(--smokyblack);
    font-family: "Darker Grotesque";
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

#work-card .card p,
#work .card p {
    color: var(--Grays-Black);
    font-family: "Darker Grotesque";
    font-size: 1.4em;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.0275rem;
    text-align: left;
}

.idea {
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background-color: var(--orange);
}

.text-input {
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background-color: var(--jade);
}

.explore {
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background-color: var(--teal);
}

.selection {
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background-color: var(--purple);
}

.track {
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background-color: var(--yellow);
}

/* Success Stories */

#story-seedpod {
    display: flex;
    flex-direction: column;
    height: 60rem;
    align-items: center;
    gap: 2rem;
    margin-left: 5vw;
    margin-right: 5vw;
    align-items: center;
    justify-content: space-between;
}

#story-seedpod h1 {
    display: flex;
    color: var(--Grays-Black);
    text-align: center;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: -9vh;
    justify-content: center;
}

#story-seedpod p {
    color: var(--Grays-Black);
    font-family: "Darker Grotesque";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.03rem;
    text-align: center;
    margin-bottom: -15vh;
}

#story-card .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5vw;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
    position: relative;
    padding-right: 16vw;
}

#story-card .card-container .card {
    display: flex;
    height: 33rem;
    width: 25rem;
    min-width: 17.5rem;
    max-width: 30.5rem;
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 0 0;
    border-radius: 1rem;
    background: var(--white);
    box-shadow: 0px 24px 48px -16px rgba(7, 26, 21, 0.42);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    animation-name: slide;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

#story-card .card-container .card:hover {
    animation-play-state: paused;
}

@keyframes slide {
    0% {
        transform: translateX(0);
        /* start off-screen */
    }

    50% {
        transform: translateX(60%);
    }
}

#story-card .card-container .card img {
    display: flex;
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
    border-radius: 3rem;
    background: lightgray 50% / cover no-repeat, #FFF;
}

#story-card .card-container .card:nth-child(1) img {
    -webkit-filter: blur(1.2px);
    filter: blur(1.5px);
}

#story-card .card-container .card:nth-child(3) img {
    margin-top: 2.5rem;
    -webkit-filter: blur(1.2px);
    filter: blur(1.5px);
}

#story-card .card-container .card:nth-child(4) img {
    margin-top: -2.5rem;
}

#story-card .card-container .card h3 {
    color: var(--smokyblack);
    font-family: "Darker Grotesque";
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin: 0;
}

#story-card .card-container .divide {
    width: 2.5rem;
    height: 0.25rem;
    flex-shrink: 0;
    margin: 0.5rem 0;
    border-radius: 0.25rem;
    background: var(--jade);
}

#story-card .card-container .card:nth-child(4) .divide {
    margin-top: 1.2rem;
}

#story-card .card-container .card:nth-child(3) p {
    margin-top: -0.2rem;
}

#story-card .card-container .card p {
    color: var(--Grays-Black);
    font-family: "Darker Grotesque";
    font-size: 1.4em;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.0275rem;
    text-align: center;
    margin: 0;
}

.colon {
    display: flex;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1rem;
    background-color: var(--jade);
}

/* Resources */

#resource-seedpod {
    display: flex;
    width: 90rem;
    height: 65rem;
    padding: 5rem 5rem 0rem 9rem;
    flex-direction: column;
    margin-left: 2.5vw;
    align-items: center;
    gap: 5rem;
    justify-content: space-between;
}

#resource-seedpod h2 {
    display: flex;
    color: var(--Grays-Black);
    text-align: center;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: -9vh;
    justify-content: center;
}

#resource-seedpod .tagline {
    color: var(--Grays-Black);
    font-family: "Darker Grotesque";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.03rem;
    width: 53vw;
    text-align: center;
}

#resource-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5vw;
    margin-right: 5vw;
    justify-content: center;
    align-items: center;
}

#resource-card .card {
    display: flex;
    height: 29.95rem;
    width: 22.375rem;
    min-width: 17.5rem;
    max-width: 43.5rem;
    padding: 0rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    border-radius: 1rem;
    background: var(--white);
    box-shadow: 0px 24px 48px -16px rgba(7, 26, 21, 0.42);
    transition: transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#resource-card .card img {
    border-radius: 1rem;
    background: var(--white);
}

#resource-card .card:hover {
    opacity: 1;
    transform: scale(1.03);
}

#resource-card .card h3 {
    color: var(--smokyblack);
    font-family: "Darker Grotesque";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    padding: 0.3rem 1rem 0.06rem 1rem;
    line-height: 100%;
}

#resource-card .card p {
    color: var(--Grays-Black);
    font-family: "Darker Grotesque";
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-overflow: ellipsis;
    padding: 0 1rem 0 1rem;
    text-align: left;
}

#resource-card .card .author {
    display: flex;
    justify-content: space-between;
}

#resource-card .card .author img {
    width: 3.9rem;
    height: 3.9rem;
    flex-shrink: 0;
    border-radius: 50%;
    margin-top: -10px;
    margin-left: 1rem;
}

#resource-card .card .author h4 {
    color: var(--smokyblack);
    font-family: "Darker Grotesque";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-top: -7px;
    margin-left: 25px;
    letter-spacing: 0.0225rem;
}

#resource-card .card .date-output {
    color: var(#888);
    font-family: "Darker Grotesque";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    align-self: stretch;
    margin-left: 87px;
    margin-top: -45px;
    letter-spacing: 0.07rem;
    width: 15rem;
}

#resource-seedpod #btn {
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    height: 3.25rem;
    padding: 1rem 2rem;
    padding-top: 0.7rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--white);
    outline: none;
    border: none;
    border-radius: 0.75rem;
    background-color: var(--jade);
    transition: all 0.5s ease-out;
}

#resource-seedpod #btn:hover {
    color: var(--grayscale);
}

#clickable-card1,
#clickable-card2,
#clickable-card3 {
    cursor: pointer;
}

/* Faqs */

#faqs {
    display: flex;
    width: 65rem;
    max-width: 55rem;
    margin-left: 21.5vw;
    padding-top: 10vh;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    align-self: stretch;
    justify-content: space-between;
}

#faqs h2 {
    color: var(--Grays-Black);
    text-align: center;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: -5vh;
}

#faqs p {
    color: var(--Grays-Black);
    text-align: center;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.0125rem;
}

#faq-questions label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.75rem;
    width: 55vw;
    padding: 1rem 1.5rem;
    flex-direction: row;
    gap: 1.5vh;
    margin-bottom: 3.5vh;
    border-radius: 0.75rem;
    background: var(--white);
    box-shadow: 0px 16px 40px -2px rgba(98, 121, 98, 0.12);
    font-family: "Darker Grotesque";
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.01375rem;
    text-align: left;
}

#faq-questions p {
    width: 44rem;
}

.open-close-button {
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    font-size: 1.5em;
    border-radius: 50%;
    position: relative;
    transition: all 0.5s;
    transform: translateZ(0);
}

.open-close-button:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #00A878;
    width: 80%;
    height: 9%;
    left: 10%;
    top: 47%;
    border-radius: 1em;
}

.open-close-button:after {
    content: "";
    display: block;
    position: absolute;
    background-color: #00A878;
    width: 9%;
    height: 80%;
    left: 47%;
    top: 10%;
    border-radius: 1em;
}

.open-close-button.open {
    background-color: #00A878;
}

.open-close-button.open:after {
    background-color: #66ffd9;
}

.open-close-button.open:before {
    background-color: #66ffd9;
}

.open-close-button.open {
    transform: rotate(225deg);
}

.content {
    display: none;
}

.content.open {
    display: block;
}

#faqs h3 {
    color: var(--Grays-Black);
    text-align: center;
    font-family: "Darker Grotesque";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    align-self: stretch;
    margin-bottom: -7vh;
}

#faqs .btn {
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    height: 2.25rem;
    padding: 0.2rem 1rem;
    padding-bottom: .5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--white);
    border-radius: 0.75rem;
    background: var(--jade);
    transition: all 0.5s ease-out;
    text-decoration: none;
    margin-top: -7vh;
}

#faqs .btn:hover {
    color: var(--grayscale);
}

/* Subscribe */
#call-to-action {
    display: flex;
    width: 75vw;
    padding: 3rem 3.5rem;
    margin-top: 15vh;
    margin-left: 12.5vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 1.5rem;
    background: linear-gradient(180deg, #00A878 0%, #009067 100%);
}

#call-to-action h3 {
    color: var(--white);
    font-family: "Darker Grotesque";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    align-self: stretch;
    margin-bottom: 3vh;
}

#call-to-action .action {
    display: flex;
    justify-content: space-between;
}

#call-to-action p {
    color: var(--white);
    font-family: "Darker Grotesque";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.025rem;
    width: 55vw;
    margin-right: 7.15vw;
}

#call-to-action a {
    display: flex;
    height: 2.25rem;
    padding: 1.25rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.75rem;
    background: var(--white);
    width: 5.5vw;
    text-decoration: none;
    color: var(--jade);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
}

#call-to-action a:hover {
    color: var(--Grays-Black);
}

#call-to-action a>img {
    margin-top: .27rem;
}

#call-to-action a>img:hover {
    background-image: url('../../node_modules/bootstrap-icons/icons/arrow-right-short.svg');
}

/* Newsletter */

#newsletter {
    display: flex;
    width: 75vw;
    padding: 3rem 3.5rem;
    margin-top: 10vh;
    margin-left: 12.5vw;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

#newsletter h2 {
    color: var(--Grays-Black);
    text-align: center;
    font-family: "Darker Grotesque";
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

#newsletter p {
    color: var(--Grays-Black);
    text-align: center;
    font-family: "Darker Grotesque";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    width: 40rem;
    margin-left: 2vw;
}

#newsletter .mail {
    display: flex;
    justify-content: space-between;
    gap: 0.7rem;
}

#newsletter .mail input {
    display: flex;
    width: 22.5rem;
    height: 2.75rem;
    padding: 0.5rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0.5rem;
    background: #FFF;
    box-shadow: 0px 16px 40px -2px rgba(90, 122, 90, 0.20);
}

#submit {
    display: flex;
    height: 2.75rem;
    padding: 1rem 2rem;
    padding-top: 0.95rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.75rem;
    background: var(--jade);
    color: var(--white);
    font-family: "Darker Grotesque";
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.0275rem;
    width: 6vw;
    transition: background-color 0.3s;
    outline: none;
    border: none;
}

#submit:hover {
    background-color: var(--Grays-Black);
}

#responseMessage {
    color: var(--teal);
    font-size: 14px;
    margin-top: 5px;
    display: none;
    position: relative;
    z-index: 1000;
}

footer {
    display: flex;
    bottom: 0;
    width: 100vw;
    padding-top: 5rem;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    background: var(--dark-jade);
}

#footer-logo a img {
    margin-bottom: 1rem;
    transition: transform 0.2s ease-in-out;
}

#footer-logo a img:hover {
    opacity: 150;
    filter: contrast(150%);
    transform: scale(1.1);
}

#footer-logo p {
    color: var(--white);
    font-family: "Darker Grotesque", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    gap: 10rem;
}

#footer-links {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

#footer-links .links ul li {
    list-style: none;
}

#footer-links .links ul li a {
    color: var(--white);
    font-family: "Darker Grotesque", sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.01375rem;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

#footer-links .links ul li a:hover {
    color: var(--jade);
}

#divider {
    height: 0.0875rem;
    align-self: stretch;
    background: var(--foundation-jade);
}

#copyright p {
    color: var(--white);
    text-align: center;
    font-family: "Darker Grotesque";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    flex: 1 0 0;
}


/* Mobile Navbar */
.fixed-top {
    display: none;
}

/* #login-button {
    display: flex;
    width: 7.5rem;
    height: 2.75rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.625rem;
    border: 1px solid var(--tints-shade);
    background: var(--Foundation-Jade-jade-50, #E6F6F2);
}

#login-button a {
    color: var(--teal);
    font-size: 1.25rem;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.025rem;
    padding-bottom: 0.5em;
    transition: all 0.5s ease-out;
}

#login-button a:hover {
    color: var(--Grays-Black);
}

#signup-button {
    display: flex;
    width: 7.5rem;
    height: 2.75rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.625rem;
    background: var(--jade);
}

#signup-button a {
    color: var(--foundation-jade);
    font-size: 1.25rem;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.025rem;
    padding-bottom: 0.5em;
    transition: all 0.5s ease-out;
}

#signup-button a:hover {
    color: var(--Grays-Black);
} */